<app-navbar></app-navbar>
<div id="header-container" class="container-fluid header-container mt-5 text-center">
    Helping you to <b>catch</b> those potential <b>coins</b>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-7 row-header">Potential picks</div>
        <div class="col-1"></div>
        <div class="col-4 row-header">Our portfolio picks</div>
        <div class="col-7 column-container"><app-coinpicker></app-coinpicker></div>
        <div class="col-1"></div>
        <div class="col-4 column-container"><app-coinportfolio></app-coinportfolio></div>
    </div>
</div>
