<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand navbar-brand-font" href="#">COINCATCH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav-font" id="navbar">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-font" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-font" href="#">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-font" href="#">Subscribe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-font" href="#">API</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
